<form class="" role="form">

    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label">C-Ip :</label>
            <div class="col-md-8">
                <input name="CIP" class="form-control" placeholder="Controller Ip"
                       [(ngModel)]="networkDiagramSwitchProperties.controllerIp" type="text">
            </div>
        </div>
        <br/>
        <br/>
        <label class="col-md-4 control-label">C-Port :</label>
        <div class="col-md-8">
            <input name="CPort" class="form-control" placeholder="Controller Port"
                   [(ngModel)]="networkDiagramSwitchProperties.controllerPort" type="text">
        </div>

        <button type="submit" (click)="applyChange()" class="btn btn-primary" style="background-color: #16a085;">
            Apply
        </button>
        <br/>
    </fieldset>

</form>
