<form class="" role="form">

    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label">Topic :</label>
            <div class="col-md-8">
                <input name="topicName" class="form-control" placeholder="Topic Name"
                       [(ngModel)]="notifierExternalProperties.topicName" type="text">
            </div>
        </div>
        <br/>
        <br/>
        <label class="col-md-4 control-label">Type :</label>
        <div class="col-md-8">
            <label class="select">
                <select name="valueType" class="input-sm" [(ngModel)]="notifierExternalProperties.valueType"
                        style="border-radius: 4px !important;" >
                    <option value="BOOLEAN" selected="selected" >Boolean</option>
                    <option value="INTEGER">Integer</option>
                </select> <i></i>
            </label>

        </div>

        <div class="checkbox"
             style="border-bottom: 1px dashed rgba(0,0,0,.2);padding-bottom: 10px">
            <label>
                <input name="latch" type="checkbox" class="checkbox" [(ngModel)]="notifierExternalProperties.isLatch">
                <span>Latch Mode</span>
            </label>
        </div>

        <button type="submit" (click)="emitApplyChange()" class="btn btn-primary" style="background-color: #16a085;">
            Apply
        </button>
        <br/>
    </fieldset>

</form>
