<form class="" role="form">

    <fieldset>
        <div class="form-group" *ngIf="servers">
            <label class="col-md-4 control-label">Server:</label>
            <div class="col-md-8">
                <label class="select">
                    <select name="serverId" class="input-sm " required [(ngModel)]="deleteVnfPortProperties.serverId"
                            style="border-radius: 4px !important;">
                        <option selected="selected" disabled>Select Server</option>
                        <option *ngFor="let server of servers" [ngValue]="server.id.toString()">{{ server.name }}
                        </option>
                    </select> <i></i>
                </label>
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <label class="col-md-4 control-label">VNF:</label>
            <div class="col-md-8">
                <input name="name" class="form-control" placeholder="VNF Name"
                       [(ngModel)]="deleteVnfPortProperties.containerName" type="text">
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <label class="col-md-4 control-label">Bridge:</label>
            <div class="col-md-8">
                <input name="Bname" class="form-control" placeholder="Bridge Name"
                       [(ngModel)]="deleteVnfPortProperties.bridgeName" type="text">
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <label class="col-md-4 control-label">Interface:</label>
            <div class="col-md-8">
                <input name="interface" class="form-control" placeholder="VNF Interface"
                       [(ngModel)]="deleteVnfPortProperties.interfaceName" type="text">
            </div>
        </div>


        <button type="submit" (click)="emitApplyChange()" class="btn btn-primary" style="background-color: #16a085;">
            Apply
        </button>
        <br/>
    </fieldset>

</form>
