<div id="content">

    <div>
        <h2>

            <button style="background-color: #16A085 !important;" class="btn btn-success float-right"
                    [routerLink]="['/', { outlets: { popup: 'servers/new'} }]">
                <span class="fa fa-plus"></span>
                <span>Create a new Server</span>
            </button>
        </h2>
        <!-- <jhi-alert></jhi-alert> -->
        <div class="table-responsive" *ngIf="servers">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th style="text-align:center" jhiSortBy="name">
                        <span>Name</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th style="text-align:center" jhiSortBy="os">
                        <span>Os</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th style="text-align:center" jhiSortBy="status">
                        <span>Status</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th style="text-align:center" jhiSortBy="dockerVersion">
                        <span>Docker</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th style="text-align:center" jhiSortBy="ovsVersion">
                        <span>OVS</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th style="text-align:center" jhiSortBy="kvmVersion">
                        <span>KVM</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th style="text-align:center">
                        <span>NetworkCards</span>
                    </th>

                    <th class="text-right">
                        <span> Actions &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; </span>
                    </th>
                </tr>
                </thead>
                <tbody *ngIf="servers">
                <tr *ngFor="let server of servers; trackBy: trackIdentity">
                    <td style="text-align:center;vertical-align: middle;">
                        {{server.name}}
                    </td>
                    <td style="text-align:center;vertical-align: middle;">{{server.os}}</td>
                    <td style="text-align:center;vertical-align: middle;">{{server.status}}</td>
                    <td style="text-align:center;vertical-align: middle;">
                        {{server.dockerVersion}}
                    </td>

                    <td style="text-align:center;vertical-align: middle;">
                        {{server.ovsVersion}}
                    </td>
                    <td style="text-align:center;vertical-align: middle;">{{server.kvmVersion}}</td>
                    <td style="text-align:center;">
                        <ul>

                            <li style="text-align: left;" *ngFor="let networkCard of server.networkCards;">
                                {{networkCard.name}} / {{networkCard.ipAddress}} / {{networkCard.macAddress}}
                            </li>


                        </ul>
                    </td>


                    <td class="text-right;" style="vertical-align: middle;vertical-align: inherit;">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" class="btn btn-info btn-sm" (click)="viewServer(server.id)">
                                <span class="fa fa-eye"></span>
                                <span class="hidden-md-down">View</span>
                            </button>
                            <button type="submit" class="btn btn-primary btn-sm" (click)="editServer(server.id)">
                                <span class="fa fa-pencil"></span>
                                <span class="hidden-md-down">Edit</span>
                            </button>
                            <button type="submit" class="btn btn-danger btn-sm" (click)="deleteServer(server.id)">
                                <span class="fa fa-remove"></span>
                                <span class="hidden-md-down">Delete</span>
                            </button>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="servers">
            <!-- <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div> -->
        </div>
    </div>


</div>


<!--<div id="knOptions">-->
<!--<p-terminal (keyup)="onKeyUp($event)" welcomeMessage="Container CLI written By ah.ghorab " prompt="container #"></p-terminal>-->
<!--<div *ngIf="valuu">-->
<!--<div name="valuuu" id="valuuu" #valuuu ui-knob [(value)]="valuu" [options]="knOptions" ></div>-->
<!--<input name="valuu"  [(ngModel)]="valuu">-->


<!--<div name="valuuu2" id="valuuu2" #valuuu ui-knob [(value)]="valuu2" [options]="knOptions"></div>-->
<!--<input name="valuu2"  [(ngModel)]="valuu2">-->
<!--</div>-->

<!--</div>-->
