<div class="row">
    <div class="col-lg-1 col-sm-1 col-md-1">
        <div class=" btn-block " style="max-width: 60%;margin: 15px;">
            <button placement="top" tooltip="Edit Entity" (click)="createVnf()" type="button"
                    class="btn btn-info  btn-block"
                    style=" border: 0px solid #16A085;background-color: #16A085 !important;">
                <i class="fa fa-upload  fa-lg" style="color: white"></i>
            </button>
            <button placement="top" tooltip="Edit Entity" (click)="deployDiagram()" type="button"
                    class="btn btn-info  btn-block"
                    style=" ">
                <i class="fa fa-pencil  fa-lg" style="color: white"></i>
            </button>
            <button placement="top" tooltip="Delete Entity" (click)="deleteVnf()" type="button"
                    class="btn btn-danger  btn-block "
                    style="">
                <i class="fa  fa-trash-o  fa-lg" style="color: white"></i>
            </button>
        </div>
    </div>
    <div class="col-lg-11 col-sm-11 col-md-11">
        <div id="plateVnfAccessory" #plateVnfAccessory style=" width:100%; height:140px ;border:1px solid #CCC"></div>
    </div>
</div>

