<form name="editForm" role="form" novalidate #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserLabel">
            Create New VNF</h4>
        <button type="button" style="margin-top: -25px;" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    </div>
    <div class="modal-body">

        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-sm-6 col-md-6 col-lg-6">
                <fieldset>
                    <legend>VNF Statistics</legend>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Name:</label>
                        <div class="col-md-10">
                            <input name="name" required class="form-control" placeholder="VNF Name" type="text"
                                   [(ngModel)]="objVnf.name">
                        </div>
                    </div>
                    <br/>
                    <br/>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Image:</label>
                        <div class="col-md-10">
                            <input name="os" class="form-control" required placeholder="VNF Docker Image Name"
                                   type="text"
                                   [(ngModel)]="objVnf.imgName">
                        </div>
                    </div>
                    <br/>
                    <br/>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Command:</label>
                        <div class="col-md-10">
                            <input name="status" class="form-control" required
                                   placeholder="VNF Container Startup Command" type="text"
                                   [(ngModel)]="objVnf.executionCommand">
                        </div>
                    </div>
                    <br/>
                    <br/>

                    <div class="form-group">
                        <div class="checkbox" style="border-bottom: 1px dashed rgba(0,0,0,.2);padding-bottom: 10px">
                            <label>
                                <input name="isDedicatedRes" type="checkbox" #dedicatedResCheckBox class="checkbox"
                                       [(ngModel)]="isDedicatedres">
                                <span>Dedicated Resources</span>
                            </label>
                        </div>
                    </div>
                    <div class="row" [hidden]="!dedicatedResCheckBox.checked">
                        <div class="col-md-6 col-sm-6 ">
                            <!-- <label class="col-md-2 control-label">CPU:</label> -->
                            <div style="padding-left: 35%;">
                                <!--<input style="width: 59px;height: 59px;" name="cpu" saKnob size="59" [value]="objVnf.cpu"-->
                                <!--(returnVal)="recievCpuFromKnob($event)"/>-->
                                <div name="cpuKnob2" id="cpuKnob2" ui-knob [(value)]="objVnf.cpu"
                                     [options]="knOptions"></div>
                                <input name="cpu2" style="text-align: center; font-weight: bold; width: 80px"
                                       [(ngModel)]="objVnf.cpu">
                                <!-- <input name="cpu" saKnob [size]="59"  [(ngModel)]="networkDiagramComponentProperties.cpu" /> -->
                            </div>
                            <span
                                style="font-size: 10px !important; color: black;display: block;font-weight: 700;position: absolute;top: 100%;width: 100%;text-align: center;">CPU : (Core)</span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <!-- <label class="col-md-2 control-label">RAM:</label> -->
                            <div style="padding-left: 35%;">
                                <!--<input style="width: 59px;height: 59px;" name="ram" saKnob size="59" [value]="objVnf.ram"-->
                                <!--(returnVal)="recievRamFromKnob($event)"/>-->
                                <div name="ramKnob2" id="ramKnob2" ui-knob [(value)]="objVnf.ram"
                                     [options]="knOptions"></div>
                                <input name="ram2" style="text-align: center; font-weight: bold; width: 80px"
                                       [(ngModel)]="objVnf.ram">

                                <!-- <input name="ram" saKnob [size]="59" [(ngModel)]="networkDiagramComponentProperties.ram" /> -->
                            </div>
                            <span
                                style="font-size: 10px !important; color: black;display: block;font-weight: 700;position: absolute;top: 100%;width: 100%;text-align: center;">RAM : (Gig)</span>
                        </div>
                    </div>


                </fieldset>

            </article>


            <article class="col-sm-6 col-md-6 col-lg-6">

                <fieldset>
                    <div class="row">
                        <legend>VNF NetworkCard

                            <div class="btn btn-success" (click)="addNewRow()"
                                 style="cursor: pointer; margin-top: -12px;float: right;">
                                <i class="button-icon fa fa-plus"></i>
                            </div>
                        </legend>
                    </div>

                    <form [formGroup]="networkCards" style="height:300px;overflow-y:auto">
                        <div formArrayName="itemRows">
                            <div *ngFor="let itemrow of networkCards.controls.itemRows.controls; let i=index"
                                 style="width: 90% !important; padding-left: 6% !important;"
                                 [formGroupName]="i">
                                <div class="row">
                                    <h5>Network Card #{{ i + 1 }}</h5>
                                    <div *ngIf="networkCards.controls.itemRows.controls.length > 0"
                                         class="btn btn-danger" (click)="deleteRow(i)"
                                         style="cursor: pointer; margin-top: -36px;float: right;">
                                        <i class="button-icon fa fa-minus"></i>
                                    </div>
                                </div>
                                <!-- <span></span> -->
                                <div class="row">
                                    <div class="col-sm-7 col-md-7 col-lg-7">
                                        <!--<div class="form-group">-->
                                        <!--<label>Name:</label>-->
                                        <label class="col-md-4 control-label">Name: </label>
                                        <div class="col-md-8">
                                            <input required formControlName="itemname" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-md-5 col-lg-5">
                                        <label class="col-md-4 control-label">Side: </label>
                                        <div class="col-md-8">
                                            <label class="select">
                                                <select class="input-sm" required formControlName="itemside"
                                                        style="border-radius: 4px !important;">
                                                    <option value="2" selected="selected">bottom</option>
                                                    <option value="0">top</option>
                                                    <option value="1">right</option>
                                                    <option value="3">left</option>
                                                </select> <i></i>
                                            </label>
                                            <!--<input readonly formControlName="itemside" class="form-control">-->
                                        </div>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </form>
                </fieldset>


            </article>
        </div>
    </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" (click)="save()">
            <span class="fa fa-floppy-o"></span>&nbsp;
            <span>Save</span>
        </button>
    </div>
</form>
