<div class="row">
    <div class="col-lg-1 col-sm-1 col-md-1">
        <div class=" btn-block " style="max-width: 60%;margin: 15px;">
            <label placement="top" tooltip="Load Entity from local" type="button"
                   class="btn btn-default  btn-block"
                   style=" border: 0px solid #16A085;background-color: #16A085 !important;">
                <input style="display: none" type="file" accept=".xnetsfc" (change)="loadSfc($event)"/>
                <i class="fa fa-upload  fa-lg" style="color: white"></i>
            </label>
            <button placement="top" tooltip="Edit Entity" (click)="editSfc()" type="button"
                    class="btn btn-info  btn-block"
                    style=" ">
                <i class="fa fa-pencil  fa-lg" style="color: white"></i>
            </button>
            <button placement="top" tooltip="Delete Entity" (click)="deleteSfc()" type="button"
                    class="btn btn-danger  btn-block "
                    style="">
                <i class="fa  fa-trash-o  fa-lg" style="color: white"></i>
            </button>
        </div>
    </div>
    <div class="col-lg-11 col-sm-11 col-md-11">
        <div id="plateSfcAccessory" #plateSfcAccessory
             style=" width:100%; height:140px ;border:1px solid #CCC"></div>
    </div>
</div>

