<form class="" role="form">

    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label">Server:</label>
            <div class="col-md-8">
                <label class="select">
                    <select name="serverId" class="input-sm " required  [(ngModel)]="objVnf.serverId"
                            style="border-radius: 4px !important;" >
                        <option selected="selected" disabled>Select Server</option>
                        <option *ngFor="let server of servers" [ngValue]="server.id.toString()">{{ server.name }}</option>
                    </select> <i></i>
                </label>
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <label class="col-md-4 control-label">Name:</label>
            <div class="col-md-8">
                <input name="name" readonly class="form-control" placeholder="VNF Name"
                       [(ngModel)]="objVnf.describtion" type="text">
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <label class="col-md-4 control-label">Image:</label>
            <div class="col-md-8">
                <input name="imgName" class="form-control" placeholder="Image Name"
                       [(ngModel)]="objVnf.imgName" type="text">
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <label class="col-md-4 control-label">Command:</label>
            <div class="col-md-8">
                <input name="status" class="form-control" required
                       placeholder="VNF Startup Command" type="text"
                       [(ngModel)]="objVnf.executionCommand">
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <div class="checkbox" style="border-bottom: 1px dashed rgba(0,0,0,.2);padding-bottom: 10px">
                <label>
                    <input name="isDedicatedRes" type="checkbox" #dedicatedResCheckBox class="checkbox"
                           [(ngModel)]="isDedicatedres">
                    <span>Dedicated Resources</span>
                </label>
            </div>
            <!--</div>-->
            <div class="row" [hidden]="!dedicatedResCheckBox.checked">
                <div class="col-md-6 col-sm-6 ">
                    <!-- <label class="col-md-2 control-label">CPU:</label> -->
                    <div style="padding-left: 35%;">
                        <div name="cpuKnob2" id="cpuKnob2" ui-knob [(value)]="objVnf.cpu"
                             [options]="knOptions"></div>
                        <input name="cpu2" style="text-align: center; font-weight: bold; width: 80px"
                               [(ngModel)]="objVnf.cpu">
                    </div>
                    <span
                        style="font-size: 10px !important; color: black;display: block;font-weight: 700;position: absolute;top: 100%;width: 100%;text-align: center;">CPU : (Core)</span>
                </div>
                <div class="col-md-6 col-sm-6">
                    <!-- <label class="col-md-2 control-label">RAM:</label> -->
                    <div style="padding-left: 35%;">
                        <div name="ramKnob2" id="ramKnob2" ui-knob [(value)]="objVnf.ram"
                             [options]="knOptions"></div>
                        <input name="ram2" style="text-align: center; font-weight: bold; width: 80px"
                               [(ngModel)]="objVnf.ram">

                        <!-- <input name="ram" saKnob [size]="59" [(ngModel)]="networkDiagramComponentProperties.ram" /> -->
                    </div>
                    <span
                        style="font-size: 10px !important; color: black;display: block;font-weight: 700;position: absolute;top: 100%;width: 100%;text-align: center;">RAM : (Gig)</span>
                </div>
                <br/>
                <br/>
            </div>

        </div>


        <br/>
        <br/>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <legend>VNF NetworkCard

                    <div class="btn btn-success" (click)="addNewRow(null)"
                         style="cursor: pointer; margin-top: -12px;float: right;">
                        <i class="button-icon fa fa-plus"></i>
                    </div>
                </legend>
            </div>
        </div>


        <form [formGroup]="networkCards" style="min-height:150px;max-height: 250px;overflow-y:auto">
            <div formArrayName="itemRows">
                <div *ngFor="let itemrow of networkCards.controls.itemRows.controls; let i=index"
                     style="width: 80% !important; padding-left: 6% !important;"
                     [formGroupName]="i">
                    <div class="row">
                        <h5>Network Card #{{ i + 1 }}</h5>
                        <div *ngIf="networkCards.controls.itemRows.controls.length > 0"
                             class="btn btn-danger" (click)="deleteRow(i)"
                             style="cursor: pointer; margin-top: -36px;float: right;">
                            <i class="button-icon fa fa-minus"></i>
                        </div>
                    </div>
                    <!-- <span></span> -->
                    <div class="row">
                        <div class="col-sm-7 col-md-7 col-lg-7">
                            <!--<div class="form-group">-->
                            <!--<label>Name:</label>-->
                            <label class="col-md-4 control-label">Name</label>
                            <div class="col-md-8">
                                <input required formControlName="itemname" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <label class="col-md-4 control-label">Side</label>
                            <div class="col-md-8">
                                <label class="select">
                                    <select class="input-sm" required formControlName="itemside"
                                            style="border-radius: 4px !important;">
                                        <option value="2" selected="selected">bottom</option>
                                        <option value="0">top</option>
                                        <option value="1">right</option>
                                        <option value="3">left</option>
                                    </select> <i></i>
                                </label>
                                <!--<input readonly formControlName="itemside" class="form-control">-->
                            </div>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </form>

        <button type="submit" (click)="emitApplyChange()" class="btn btn-primary" style="background-color: #16a085;">
            Apply
        </button>
        <br/>
    </fieldset>

</form>
