<div id="main" role="main" class="animated" style="margin-top: 5%; margin-left: 0px !important;background-color: #222D3A;">

    <div id="content" class="" style="background-color: #222D3A;">
        <div class="row">


            <div class="col-xs-12 ">

                <!--  <form class="smart-form client-form">
                    <header style="font-size: 15px; text-align: center">
                        <h1 class=" login-header-big" style="color: #22262e !important; font-size: 25px; font-weight: 700; line-height: 45px;">XenoNet test</h1>

                    </header>
                    <fieldset>
                        <section>
                            <label class="label" style="font-size: 12px; text-align: right;">UserName</label>
                            <label class="input">
                                <i class="icon-append fa fa-user" style="color: #22262e !important"></i>
                                <input type="text" id="username" name="username" [(ngModel)]="username" data-smart-validate-input="" data-required="" data-email=""
                                    data-message-required="Please enter your email address" data-message-email="Please enter a VALID email address">
                                <b class="tooltip tooltip-top-right" style="font-size: 9px;">
                                    <i class="fa fa-user txt-color-teal"></i>
                                    type your username</b>
                            </label>
                        </section>
                        <section>
                            <label class="label" style="font-size: 12px; text-align: right;">Password</label>
                            <label class="input">
                                <i class="icon-append fa fa-lock" style="color: #22262e !important"></i>
                                <input type="password" name="password" [(ngModel)]="password" data-smart-validate-input="" data-required="" data-minlength="3"
                                    data-maxnlength="20" data-message="Please enter your email password">
                                <b class="tooltip tooltip-top-right" style="font-size: 9px;">
                                    <i class="fa fa-lock txt-color-teal"></i> type your Password</b>
                            </label>
                        </section>
                        <section>
                            <button type="submit" (click)="login()" class="btn btn-primary" style="font-size: 15px; width: 70px; display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;">
                                LogIn
                            </button>
                        </section>

                    </fieldset>
                    <footer>


                        <div class="row">
                            <div class="col-xs-6 col-sm-3">
                                <dl class="dl-horizontal text-sm" style="width: 125px;">
                                    <dt style="width: 90px;">Version :&nbsp;</dt>
                                    <dd class="text-right m-0" style="color: navy;">1.0.0</dd>
                                </dl>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <dl class="dl-horizontal text-sm" style="width: 184px;">
                                    <dt style="width: 116px;">Last Update:</dt>
                                    <dd class="text-right m-0" style="color: navy;">18.1.18</dd>
                                </dl>
                            </div>

                        </div>


                    </footer>
                </form>


            </div>








        </div> -->





                <div class="container" id="login-block">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">

                            <div class="login-box clearfix animated flipInY">
                                <div class="page-icon animated bounceInDown">
                                    <img src="../../../content/img/user-icon.png" alt="Key icon" />
                                </div>
                                <div class="login-logo">
                                    <h1 class=" login-header-big" style="color: rgb(218, 216, 216) !important; font-size: 25px; font-weight: 700; line-height: 45px;"> XeniumNFV</h1>
                                    <!-- <a href="#"><img src="img/login-logo.png" alt="Company Logo" /></a> -->
                                </div>
                                <hr />
                                <div class="login-form">
                                    <!-- Start Error box -->
                                    <div class="alert alert-danger hide">
                                        <button type="button" class="close" data-dismiss="alert"> &times;</button>
                                        <h4>Error!</h4>
                                        Your Error Message goes here
                                    </div>
                                    <!-- End Error box -->
                                    <form action="#" method="get">
                                        <input type="text" class="input-field" placeholder="User name" id="username" name="username" [(ngModel)]="username" required>

                                        <input type="password" class="input-field" placeholder="Password" name="password" [(ngModel)]="password" required>

                                        <button type="submit" (click)="login()" class="btn btn-login">Login</button>

                                    </form>
                                    <div class="login-links">
                                        <a href="">
                                            Forgot password?
                                        </a>
                                        <br />
                                        <a routerLink="/auth/register">
                                            Don't have an account?
                                            <strong>Sign Up</strong>
                                        </a>
                                        <a href="">
                                            By
                                            <strong>AmirHossein Ghorab</strong>
                                            Winter 2018
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>











            </div>
        </div>








    </div>
</div>




















<!-- <div id="main" role="main" class="animated fadeInDown" style="margin-top: 5%;" >

    <div id="content" class="">
        <div class="row">


                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-md-offset-2 col-lg-offset-2 ">

                    <form class="smart-form client-form">
                        <header style="font-size: 15px; text-align: center; background-color: #22262e !important">
                            <h1 class=" login-header-big" style="color: whitesmoke; font-size: 25px; font-weight: 700; line-height: 45px;">XenoNet </h1>
                        </header>
                        <fieldset style="background-color: #22262e !important">
                            <section>
                                <label class="label" style="color: whitesmoke;font-size: 12px; text-align: right;">UserName</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="text" id="username" name="username" [(ngModel)]="username" data-smart-validate-input="" data-required="" data-email="" data-message-required="Please enter your email address" data-message-email="Please enter a VALID email address">
                  <b class="tooltip tooltip-top-right" style="font-size: 9px;"><i class="fa fa-user txt-color-teal"></i>
                    type your username</b></label>
                            </section>
                            <section>
                                <label class="label" style="color: whitesmoke;font-size: 12px; text-align: right;">Password</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="password" [(ngModel)]="password" data-smart-validate-input="" data-required="" data-minlength="3" data-maxnlength="20" data-message="Please enter your email password">
                  <b class="tooltip tooltip-top-right" style="font-size: 9px;"><i class="fa fa-lock txt-color-teal"></i> type your Password</b> </label>
                            </section>



                            <section>
                                <button type="submit" (click)="login()" class="btn btn-primary" style="font-size: 15px; width: 70px; display: inline-block;
                                padding: 6px 12px;
                                margin-bottom: 0;
                                font-size: 14px;
                                font-weight: normal;
                                line-height: 1.428571429;
                                text-align: center;
                                white-space: nowrap;
                                vertical-align: middle;
                                cursor: pointer;
                                background-image: none;
                                border: 1px solid transparent;
                                border-radius: 4px;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                -o-user-select: none;
                                user-select: none;">
                                LogIn
                            </button>
                            </section>

                        </fieldset>
                        <footer style="background-color: #22262e !important">


                            <div class="row">
                                <div class="col-xs-6 col-sm-3">
                                    <dl class="dl-horizontal text-sm" style="width: 125px;">
                                        <dt style="color: whitesmoke;width: 90px;">Version :&nbsp;</dt>
                                        <dd class="text-right m-0" style="color: whitesmoke;">1.0.0</dd>
                                    </dl>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <dl class="dl-horizontal text-sm" style="width: 184px;">
                                        <dt style="color: whitesmoke;width: 116px;">Last Update :&nbsp;</dt>
                                        <dd class="text-right m-0" style="color: whitesmoke;">20.1.18</dd>
                                    </dl>
                                </div>

                            </div>


                        </footer>
                    </form>


                </div>








        </div>




    </div>
</div> -->
