<form class="" role="form">

    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label">Topic :</label>
            <div class="col-md-8">
                <input name="topicName" readonly class="form-control" placeholder="cAdvisor Topic Name"
                       [(ngModel)]="notifierVnfProperties.topicName" type="text">
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <label class="col-md-4 control-label">VNF :</label>
            <div class="col-md-8">
                <input name="vnfName" class="form-control" placeholder="VNF Name"
                       [(ngModel)]="notifierVnfProperties.containerName" type="text">
            </div>
        </div>
        <br/>
        <br/>
        <label class="col-md-4 control-label">Metric :</label>
        <div class="col-md-8">
            <label class="select">
                <select name="valueType" #valueType  class="input-sm" [(ngModel)]="notifierVnfProperties.metric"
                        style="border-radius: 4px !important;" >
                    <option value="CPU" selected="selected" >Cpu (%)</option>
                    <option value="RAM">Ram (Gig)</option>
                    <!--<option value="RAMPER">Ram (%)</option>-->
                    <option value="RXB">RX (Byte)/sec</option>
                    <option value="RXT">RX Total (Byte)</option>
                    <option value="TXB">TX (Byte)/sec</option>
                    <option value="TXT">TX Total (Byte)</option>
                </select> <i></i>
            </label>
        </div>
        <br/>
        <br/>
        <br/>
        <div *ngIf="(valueType.value == 'RXB') || (valueType.value == 'RXT') || (valueType.value == 'TXB') || (valueType.value == 'TXT')" class="form-group">
            <label class="col-md-4 control-label">Nic :</label>
            <div class="col-md-8">
                <input name="interfaceName" class="form-control" placeholder="Interface Name"
                       [(ngModel)]="notifierVnfProperties.interfaceName" type="text">
            </div>
        </div>
        <br/>
        <button type="submit" (click)="emitApplyChange()" class="btn btn-primary" style="background-color: #16a085;">
            Apply
        </button>
        <br/>
    </fieldset>

</form>
