<ng4-loading-spinner [loadingText]="tabSpinnerText"></ng4-loading-spinner>
<div id="content">

    <div class="row" style="padding-top: 5px">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="well" style=" background-color: #e6e6e6;height: 44px;padding-top: 7px;">
                <ul class="demo-btns">
                    <li>
                        <div class="dropdown" dropdown>
                            <button class="btn btn-sm  btn-block"
                                    style=" border: 0px solid #16A085;background-color: #16A085 !important;"
                                    dropdown-open>
                                <i style="color:  white">Add Event
                                    Nodes </i><span class="caret" style="color:  white"></span>
                            </button>

                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a (click)="(null)">Notifiers</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a (click)="createSwitchNotifier()">Switch</a>
                                        </li>
                                        <li>
                                            <a (click)="createVNFNotifier()">VNF</a>
                                        </li>
                                        <li>
                                            <a (click)="createExternalNotifier()">External</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a (click)="(null)">Logic</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a (click)="createLogicActionAND()">AND</a>
                                        </li>
                                        <li>
                                            <a (click)="createLogicActionOR()">OR</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a (click)="(null)">MATH</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a (click)="createStaticVal()">Static Value</a>
                                        </li>
                                        <li>
                                            <a (click)="createMathActionADD()">Add</a>
                                        </li>
                                        <li>
                                            <a (click)="createMathActionSUB()">SUB</a>
                                        </li>
                                        <li>
                                            <a (click)="createMathActionDiv()">Div</a>
                                        </li>
                                        <li>
                                            <a (click)="createMathActionMultiple()">Multiple</a>
                                        </li>
                                        <li>
                                            <a (click)="createMathActionCompare()">Compare</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a (click)="(null)">Exec</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a (click)="createExecActionCreateSwitch()">Create Switch</a>
                                        </li>
                                        <li>
                                            <a (click)="createExecActionCreateVNF()">Create VNF</a>
                                        </li>
                                        <li>
                                            <a (click)="createExecActionCreateSwitchPachPeer()">Create Switch Patch/Peer
                                                Port</a>
                                        </li>
                                        <li>
                                            <a (click)="createExecActionCreateVNFPort()">Create VNF Port</a>
                                        </li>
                                        <li>
                                            <a (click)="createExecActionCreateODL()">Create ODL</a>
                                        </li>
                                        <li>
                                            <a (click)="createExecActionUpdateVNF()">Update VNF</a>
                                        </li>
                                        <li>
                                            <a (click)="createExecActionDeleteSwitch()">Delete Switch</a>
                                        </li>
                                        <li>
                                            <a (click)="createExecActionDeleteVNF()">Delete VNF</a>
                                        </li>
                                        <li>
                                            <a (click)="createExecActionDeleteSwitchPachPeer()">Delete Switch Patch/Peer
                                                Port</a>
                                        </li>
                                        <li>
                                            <a (click)="createExecActionDeleteVNFPort()">Delete VNF Port</a>
                                        </li>
                                        <li>
                                            <a (click)="createExecActionDeleteODL()">Delete ODL</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li>
                        <!--<input type="file" (change)="loadDiagram($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">-->
                        <label placement="top" tooltip="Upload xnet file to diagram" type="button"
                               class="btn btn-sm  btn-block"
                               style=" border: 0px solid #16A085;background-color: #16A085 !important;">
                            <input style="display: none" type="file" accept=".xnetevt"
                                   (change)="loadDiagram($event)"/>
                            <i class="fa fa-upload  fa-lg" style="color: white"></i>
                            <i style="color: white"> Upload </i>
                        </label>
                    </li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li>
                        <button placement="top" tooltip="Clear" (click)="clearDiagram()" type="button"
                                class="btn btn-sm  btn-block"
                                style=" border: 0px solid #16A085;background-color: #16A085 !important;">
                            <i class="fa fa-eraser fa-lg" style="color: white"></i>
                            <i style="color: white"> Clear </i>
                        </button>
                    </li>

                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>

                    <li>
                        <button placement="top" tooltip="Zoom In" (click)="zoomIn()" type="button"
                                class="btn btn-sm  btn-block"
                                style=" border: 0px solid #16A085;background-color: #16A085 !important;">
                            <i class="fa fa-search-plus  fa-lg" style="color: white"></i>
                        </button>
                    </li>
                    <li>
                        <button placement="top" tooltip="Zoom Out" (click)="zoomOut()" type="button"
                                class="btn btn-sm  btn-block"
                                style=" border: 0px solid #16A085;background-color: #16A085 !important;">
                            <i class="fa fa-search-minus fa-lg" style="color: white"></i>
                        </button>
                    </li>
                    <li>
                        <button placement="top" tooltip="Fit To Screen" (click)="fitToView()" type="button"
                                class="btn btn-sm  btn-block"
                                style=" border: 0px solid #16A085;background-color: #16A085 !important;">
                            <i class="fa fa-arrows-alt fa-lg" style="color: white"></i>
                        </button>
                    </li>


                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li>
                        <button placement="top" tooltip="Undo" (click)="undo()" type="button"
                                class="btn btn-sm  btn-block"
                                style=" border: 0px solid #16A085;background-color: #16A085 !important;">
                            <i class="fa fa-mail-reply fa-lg" style="color: white"></i>
                        </button>
                    </li>
                    <li>
                        <button placement="top" tooltip="Redo" type="button" (click)="redo()"
                                class="btn btn-sm  btn-block"
                                style=" border: 0px solid #16A085;background-color: #16A085 !important;">
                            <i class="fa fa-mail-forward fa-lg" style="color: white"></i>
                        </button>
                    </li>

                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li>
                        <button placement="top" (click)="saveDiagram()" tooltip="Save" type="button"
                                class="btn btn-sm  btn-block"
                                style=" border: 0px solid #16A085;background-color: #16A085 !important;">
                            <i class="fa fa-save fa-lg" style="color: white"></i>
                            <i style="color: white"> Save </i>
                        </button>
                    </li>
                    <li>
                        <button placement="top" (click)="saveDiagramOnLocal()" tooltip="Save On Local" type="button"
                                class="btn btn-sm  btn-block"
                                style=" border: 0px solid #16A085;background-color: #16A085 !important;">
                            <i class="fa fa-save fa-lg" style="color: white"></i>
                            <i style="color: white"> Save On Local </i>
                        </button>
                    </li>
                    <li>
                        <input name="name" id="name" class="form-control" required placeholder="Event Name" type="text"
                               [(ngModel)]="eventObj.name">
                    </li>
                    <li></li>
                    <li>
                        <button placement="top" (click)="backToPrevPage()" tooltip="Save" type="button"
                                class="btn btn-sm  btn-block"
                                style=" border: 0px solid #2868a0;background-color: #2868a0 !important;">
                            <i class="fa fa-times  fa-lg" style="color: white"></i>
                            <i style="color: white"> Cancel </i>
                        </button>
                    </li>


                </ul>


            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 5px">

        <div class="col-lg-9 col-sm-9 col-md-9">
            <div>
                <div id="eventEditDiagram" style="border: solid 1px #c2c2c2; width:100%; height:600px"></div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 col-md-3">

            <div sa-widget [editbutton]="false" [togglebutton]="true" [fullscreenbutton]="false"
                 [custombutton]="false"
                 [sortable]="false">
                <header>
                    <h2>
                        <strong>Node Properties</strong>
                    </h2>

                </header>
                <div *ngIf="selectedEntytType != ''" >
                    <div class="widget-body" *ngIf="servers">
                        <div *ngIf="selectedEntytType === 'NotifierExt'">
                            <Xnet-notifierExternalPropertiesComponent
                                [notifierExternalProperties]="notifierExternalProperties"
                                (applyChange)="applyChangeToCreateExternalNotifier($event)"></Xnet-notifierExternalPropertiesComponent>
                        </div>
                        <div *ngIf="selectedEntytType === 'NotifierVnf'">
                            <Xnet-notifierVnfPropertiesComponent
                                [notifierVnfProperties]="notifierVnfProperties"
                                (applyChange)="applyChangeToCreateVnfNotifier($event)"></Xnet-notifierVnfPropertiesComponent>
                        </div>
                        <div *ngIf="selectedEntytType === 'StaticVal'">
                            <Xnet-mathStaticPropertiesComponent
                                [mathStaticProperties]="mathStaticProperties"  (applyChange)="applyChangeToMathStatic($event)"></Xnet-mathStaticPropertiesComponent>
                        </div>
                        <div *ngIf="selectedEntytType === 'Compare'">
                            <Xnet-mathComparePropertiesComponent
                                [mathCompareProperties]="mathCompareProperties" (applyChange)="applyChangeToMathCompare($event)"></Xnet-mathComparePropertiesComponent>
                        </div>
                        <div *ngIf="selectedEntytType === 'CreateSwitch'">
                            <Xnet-execCreateBridgePropertiesComponent
                                [swch]="swch" [servers]="servers" (applyChange)="applyChangeToCreateSwitch($event)"></Xnet-execCreateBridgePropertiesComponent>
                        </div>
                        <div *ngIf="selectedEntytType === 'CreateVNF'">
                            <Xnet-execCreateVnfPropertiesComponent
                                [objVnf]="vnf" [servers]="servers" (applyChange)="applyChangeToCreateVnf($event)"></Xnet-execCreateVnfPropertiesComponent>
                        </div>
                        <div *ngIf="selectedEntytType === 'CreatePatchPeer'">
                            <Xnet-createBridgePatchPeerPortPropertiesComponent
                                [createBridgePortProperties]="createBridgePatchPeerProperties" [servers]="servers" (applyChange)="applyChangeToCreateBridgePatchPeerPort($event)"></Xnet-createBridgePatchPeerPortPropertiesComponent>
                        </div>
                        <div *ngIf="selectedEntytType === 'CreateVNFPort'">
                            <Xnet-createVnfPortPropertiesComponent
                                [createVnfPortProperties]="createVnfPortProperties" [servers]="servers" (applyChange)="applyChangeToCreateVnfPort($event)"></Xnet-createVnfPortPropertiesComponent>
                        </div>
                        <div *ngIf="selectedEntytType === 'UpdateVNF'">
                            <Xnet-updateVnfPropertiesComponent
                                [updateVnfProperties]="updateVnfProperties" [servers]="servers" (applyChange)="applyChangeToUpdateVnf($event)"></Xnet-updateVnfPropertiesComponent>
                        </div>
                        <div *ngIf="selectedEntytType === 'DeleteSwitch'">
                            <Xnet-execDeleteBridgePropertiesComponent
                                [deleteBridgeProperties]="deleteBridgeProperties" [servers]="servers" (applyChange)="applyChangeToDeleteSwitch($event)"></Xnet-execDeleteBridgePropertiesComponent>
                        </div>
                        <div *ngIf="selectedEntytType === 'DeleteVNF'">
                            <Xnet-execDeleteVnfPropertiesComponent
                                [deleteVnfProperties]="deleteVnfProperties" [servers]="servers" (applyChange)="applyChangeToDeleteVnf($event)"></Xnet-execDeleteVnfPropertiesComponent>
                        </div>
                        <div *ngIf="selectedEntytType === 'DeletePatchPeer'">
                            <Xnet-execDeleteBridgePatchPeerPortPropertiesComponent
                                [deleteBridgePatchPeerPortProperties]="deleteBridgePatchPeerPortProperties" [servers]="servers" (applyChange)="applyChangeToDeleteBridgePatchPeerPort($event)"></Xnet-execDeleteBridgePatchPeerPortPropertiesComponent>
                        </div>
                        <div *ngIf="selectedEntytType === 'DeleteVNFPort'">
                            <Xnet-execDeleteVnfPortPropertiesComponent
                                [deleteVnfPortProperties]="deleteVnfPortProperties" [servers]="servers" (applyChange)="applyChangeToDeleVnfPort($event)"></Xnet-execDeleteVnfPortPropertiesComponent>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>


</div>

