
.btn_play {
    position: relative;
    width: 35px;
    height: 35px;
    border: #16A085 3px solid;
    border-radius: 3px;
    cursor: pointer;
    transition: border 0.1s ease-in-out;
}
.pause{
    border: #ff0003 3px solid;
}
.btn_play:hover {
    box-shadow: 3px 3px 5px #cfefe2;
    /*border: #1c62b8 3px solid;*/
    /*border: 5px solid;*/
}
/*.btn_play:hover .bar {*/
    /*background-color: #1c62b8;*/
    /*border: #1c62b8 3px solid;*/
/*}*/

.btn_play .bar {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -6px;
    width: 3px;
    height: 20px;
    border-radius: 3px;
    background-color: white;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: background 0.1s ease-in-out, -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, background 0.1s ease-in-out;
    transition: transform 0.4s ease-in-out, background 0.1s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.btn_play.pause .bar-1 {
    -webkit-transform: translateX(13.5px) translateY(0px) rotate(0deg);
    transform: translateX(13.5px) translateY(0px) rotate(0deg);
    border: #ff0003 2px solid;
}
.btn_play.pause .bar-2 {
    -webkit-transform: translateX(24px) translateY(0px) rotate(0deg);
    transform: translateX(24px) translateY(0px) rotate(0deg);
    border: #ff0003 2px solid;
}
.btn_play.play .bar-1 {
    -webkit-transform: translateX(20px) translateY(-5px) rotate(-55deg);
    transform: translateX(20px) translateY(-5px) rotate(-55deg);
    border: #16A085 2px solid;
}
.btn_play.play .bar-2 {
    -webkit-transform: translateX(20px) translateY(5px) rotate(-125deg);
    transform: translateX(20px) translateY(5px) rotate(-125deg);
    border: #16A085 2px solid;
}
