<form class="" role="form">

    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label">Server:</label>
            <div class="col-md-8">
                <label class="select">
                    <select name="serverId" class="input-sm " required [(ngModel)]="updateVnfProperties.serverId"
                            style="border-radius: 4px !important;">
                        <option selected="selected" disabled>Select Server</option>
                        <option *ngFor="let server of servers" [ngValue]="server.id.toString()">{{ server.name }}
                        </option>
                    </select> <i></i>
                </label>
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <label class="col-md-4 control-label">Vnf:</label>
            <div class="col-md-8">
                <input name="vnf" class="form-control" placeholder="VNF Name"
                       [(ngModel)]="updateVnfProperties.containerName" type="text">
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-6 col-sm-6 ">
                <!-- <label class="col-md-2 control-label">CPU:</label> -->
                <div style="padding-left: 35%;">
                    <div name="cpuKnob2" id="cpuKnob2" ui-knob [(value)]="updateVnfProperties.cpu"
                         [options]="knOptions"></div>
                    <input name="cpu2" style="text-align: center; font-weight: bold; width: 80px"
                           [(ngModel)]="updateVnfProperties.cpu">
                </div>
                <span
                    style="font-size: 10px !important; color: black;display: block;font-weight: 700;position: absolute;top: 100%;width: 100%;text-align: center;">CPU : (Core)</span>
            </div>
            <div class="col-md-6 col-sm-6">
                <!-- <label class="col-md-2 control-label">RAM:</label> -->
                <div style="padding-left: 35%;">
                    <div name="ramKnob2" id="ramKnob2" ui-knob [(value)]="updateVnfProperties.ram"
                         [options]="knOptions"></div>
                    <input name="ram2" style="text-align: center; font-weight: bold; width: 80px"
                           [(ngModel)]="updateVnfProperties.ram">

                    <!-- <input name="ram" saKnob [size]="59" [(ngModel)]="networkDiagramComponentProperties.ram" /> -->
                </div>
                <span
                    style="font-size: 10px !important; color: black;display: block;font-weight: 700;position: absolute;top: 100%;width: 100%;text-align: center;">RAM : (Gig)</span>
            </div>
            <br/>
            <br/>
        </div>
        <br/>
        <br/>


        <button type="submit" (click)="emitApplyChange()" class="btn btn-primary" style="background-color: #16a085;">
            Apply
        </button>
        <br/>
    </fieldset>

</form>
