<form class="" role="form">

    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label">Server:</label>
            <div class="col-md-8">
                <label class="select">
                    <select name="serverId" class="input-sm " required [(ngModel)]="createVnfPortProperties.serverId"
                            style="border-radius: 4px !important;">
                        <option selected="selected" disabled>Select Server</option>
                        <option *ngFor="let server of servers" [ngValue]="server.id.toString()">{{ server.name }}
                        </option>
                    </select> <i></i>
                </label>
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <label class="col-md-4 control-label">Bridge:</label>
            <div class="col-md-8">
                <input name="bridge" class="form-control" placeholder="Bridge Name"
                       [(ngModel)]="createVnfPortProperties.bridgeName" type="text">
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <label class="col-md-4 control-label">Vnf:</label>
            <div class="col-md-8">
                <input name="vnf" class="form-control" placeholder="VNF Name"
                       [(ngModel)]="createVnfPortProperties.containerName" type="text">
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <label class="col-md-4 control-label">Interface:</label>
            <div class="col-md-8">
                <input name="interface" class="form-control" placeholder="Interface Name"
                       [(ngModel)]="createVnfPortProperties.interfaceName" type="text">
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <label class="col-md-4 control-label">Ip:</label>
            <div class="col-md-8">
                <input name="ip" class="form-control" placeholder="Ip Address"
                       [(ngModel)]="createVnfPortProperties.ipAddress" type="text">
            </div>
        </div>
        <br/>
        <br/>
        <div class="form-group">
            <label class="col-md-4 control-label">Gateway:</label>
            <div class="col-md-8">
                <input name="gateway" class="form-control" placeholder="Gateway Address"
                       [(ngModel)]="createVnfPortProperties.gateway" type="text">
            </div>
        </div>
        <br/>
        <br/>


        <button type="submit" (click)="emitApplyChange()" class="btn btn-primary" style="background-color: #16a085;">
            Apply
        </button>
        <br/>
    </fieldset>

</form>
